<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	
	<!-- 매출 통계 관련 resultSet - 작성자 : 장희연  -->
	<resultMap id="salesResultSet" type="sales">
		<result column="TOTAL" property="total" />
		<result column="DATE_RANGE" property="dateRange" />
	</resultMap>

	<!-- 리뷰 관련 resultSet, 작성자: 수빈 -->
	<resultMap id="reviewResultSet" type="review">
		<result column="REVIEW_NO" property="reviewNo" />
		<result column="USER_NO" property="userNo" />
		<result column="MOVIE_ID" property="movieId" />
		<result column="MOVIE_TITLE" property="movieTitle" />
		<result column="TV_ID" property="tvId" />
		<result column="TV_NAME" property="tvName" />
		<result column="REVIEW_STAR" property="reviewStar" />
		<result column="REVIEW_CONTENT" property="reviewContent" />
		<result column="REVIEW_REGISTER_DATE" property="reviewDate" />
		<result column="REVIEW_STATUS" property="reviewStatus" />
		<result column="USER_ID" property="userId" />
		<result column="USER_NICKNAME" property="userNickname" />
		<result column="REPORT_NO" property="reportNo" />
		<result column="REPORT_REASON" property="reportReason" />
		<result column="REPORT_STATUS" property="reportStatus" />
	</resultMap>
	
	<!-- 신고 관련 resultSet, 작성자: 수빈 -->
	<resultMap id="reportResultSet" type="report">
		<result column="REPORT_NO" property="reportNo" />
		<result column="REVIEW_NO" property="reviewNo" />
		<result column="COM_NO" property="comNo" />
		<result column="COM_RPL_NO" property="comRplNo" />
		<result column="USER_NO" property="userNo" />
		<result column="REPORT_REASON" property="reportReason" />
		<result column="REPORT_DATE" property="reportDate" />
		<result column="REPORT_STATUS" property="reportStatus" />
	</resultMap>
</mapper>