<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="member">
		<result column="USER_NO" property="userNo" />
		<result column="USER_ID" property="userId" />
		<result column="USER_PWD" property="userPwd" />
		<result column="USER_NICKNAME" property="userNickname" />
		<result column="USER_ENROLL_DATE" property="userEnrollDate" />
		<result column="USER_STATUS" property="userStatus" />
		<result column="USER_PROFILE" property="userProfile" />
	</resultMap>
	
	<!-- 로그인용 쿼리문(암호화작업 완료) -->
	<select id="loginMember" parameterType="member" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE USER_ID = #{userId}
		AND USER_STATUS = 'Y'
	</select>
	
	<!-- 회원가입용 쿼리문 -->
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER (USER_NO
		                 ,  USER_ID
		                 ,  USER_PWD
		                 ,  USER_NICKNAME)
		            VALUES (SEQ_USER_NO.NEXTVAL
		                 ,  #{userId}
		                 ,  #{userPwd}
		                 ,  #{userNickname})
	</insert>
	
	<!-- 아이디중복체크용 쿼리문 -->
	<select id="idCheck" parameterType="string" resultType="_int">
	   SELECT COUNT(*)
	   FROM MEMBER
	   WHERE USER_ID = #{checkId}
	</select>
	
	<!-- 비밀번호 재설정용 쿼리문 -->
	<update id="passwordUpdate" parameterType="member">
		UPDATE MEMBER
		SET USER_PWD = #{userPwd}
		WHERE USER_ID = #{userId} 
	</update>
	
	<!-- 사용자 - 닉네임 중복확인용 쿼리문 -->
	<select id="nicknameCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		  FROM MEMBER
		 WHERE USER_NICKNAME = #{checkNickname}
	</select>
	
	<!-- 사용자 - 회원정보 수정용 쿼리문 -->
	<update id="updateMember" parameterType="member">
		UPDATE MEMBER
		   SET USER_PROFILE = #{userProfile}
		     , USER_NICKNAME = #{userNickname}
		 WHERE USER_NO = #{userNo}
	</update>
	
	<!-- 관리자 - 회원 수 확인용 쿼리문 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM MEMBER
	</select>
	
	<!-- 관리자 - 회원 리스트 전체 조회용 쿼리문 -->
	<select id="selectList" resultMap="memberResultSet">
		SELECT USER_NO
			 , USER_ID
			 , USER_NICKNAME
			 , USER_ENROLL_DATE
			 , USER_STATUS
		  FROM MEMBER
	  ORDER BY USER_NO DESC
	</select>
	
	<!-- 관리자 - 검색된 회원 수 확인용 쿼리문 -->
	<select id="selectSearchCount" parameterType="hashmap" resultType="_int">
		SELECT COUNT(*)
		  FROM MEMBER
		 WHERE 
		 <if test="keyword == 'userId'">
		 	USER_ID
		 </if>
		 <if test="keyword == 'userNickname'">
		 	USER_NICKNAME
		 </if>
		 LIKE '%' || #{searchword} || '%'
	</select>
	
	<!-- 관리자 - 검색된 회원 리스트 전체 조회용 쿼리문 -->
	<select id="selectSearchList" parameterType="hashmap" resultMap="memberResultSet">
		SELECT USER_NO
			 , USER_ID
			 , USER_NICKNAME
			 , USER_ENROLL_DATE
			 , USER_STATUS
		  FROM MEMBER
		 WHERE 
		 <if test="keyword == 'userId'">
		 	USER_ID
		 </if>
		 <if test="keyword == 'userNickname'">
		 	USER_NICKNAME
		 </if>
		 LIKE '%' || #{searchword} || '%'
		 ORDER BY USER_NO DESC
	</select>
	
	<!-- 관리자 - 비밀번호 초기화 쿼리문 -->
	<update id="updatePwd" parameterType="_int">
		UPDATE MEMBER
		   SET USER_PWD = '000000'
		 WHERE USER_NO = #{userNo}
	</update>
	
	<!-- 관리자 - 회원 탈퇴 처리용 쿼리문 -->
	<update id="deleteMember" parameterType="_int">
		UPDATE MEMBER
		   SET USER_STATUS = 'N'
		 WHERE USER_NO = #{userNo}
	</update>
</mapper>
